.container {
    margin: 0 auto;
    padding: 1rem;

    @media (min-width: 768px) {
        max-width: 768px;
    }

    @media (min-width: 1024px) {
        max-width: 1024px;
    }

    @media (min-width: 1280px) {
        max-width: 1280px;
    }

    @media (min-width: 1436px) {
        max-width: 1436px;
    }
}
